opencv-contrib-python-headless == 4.6.0.66
numpy == 1.21.6
streamlit == 1.10.0
streamlit_drawable_canvas == 0.8
Pillow == 9.1.1
protobuf == 3.19.0
paddleocr == 2.6.0.1
paddlepaddle == 2.3.2
protobuf == 3.19.0